/* 
    Document   : template
    Created on : Jan 6, 2014, 11:08:16 AM
    Author     : Maninder
    Description:
        Purpose of the stylesheet follows.
*/
body {
  margin:0px;
  background: #000000;
  font-family:"Times New Roman", Times, serif;
}
.container{
  width: 1100px;
  background: #FEF1DE;
 //background:#ffffff;
}
.world-map-wrapper svg
{
 // background:#ffffff;
 position: relative;
// right: 100px;
}
svg circle
{
  background:#ffffff !important;
  fill:#ffffff !important;
}
.detail-content{
  // margin: 100px 0 100px 60px;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  width: 300px;
  padding-left: 30px;
  float:left;
}

.container_Right{
  width: 765px;
  float:left;
}

.world-map-wrapper{
  /*margin-top: 80px;*/
  width: 100%;
  //float: left;
}

#lineChart{
  width: 100%;
}
.financial_time_heading{
  height:20px;
  background: #E1E1BD;
  border-top: 2px solid #A4A48A;
  font-size: 8px;
  padding:2px 0 2px 15px;
  margin-bottom:10px;
}

strong.text-upper-case{
  text-transform: uppercase;
  color: #386890;
  font-size: 12px;
}

p.title{
  font-size: 26px; 
}
span.label{
  padding: 5px 20px;
  margin-right: 5px;
  //background-color:#E1E1BD; 
  
}
span.label:hover{
  cursor: pointer;
}
/*
================================================================================
----------------------------  CSS FOR WORLD TOUR GRAPH -------------------------
================================================================================
*/

/*h1 {
  position: absolute;
  top: 280px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  width: 960px;
}*/
.padding-top-bottom-40{
  margin: 40px 0;
  border: 0px solid;
}
.margin-left-40{
  margin-left: 40px;
}



p.subtitle{
  font-size: 14px;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

/*
================================================================================
--------------------    CSS FOR EUROPE MAP  ------------------------------------
================================================================================
*/
/*body {
  background: #fcfcfa;
}*/

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}


/*
================================================================================
--------------------    CSS FOR PAGE STYLE  ------------------------------------
================================================================================
*/

.subunit.SCT { fill: #ddc; }
.subunit.WLS { fill: #cdd; }
.subunit.NIR { fill: #cdc; }
.subunit.ENG { fill: #dcd; }
.subunit.IRL { display: none; }
// h3{margin-top: 200px;}

svg {
  /*                width:  960px;
                  height: 800px;*/
  width: 750px;
  padding-left:10px;
  pointer-events: all;
  padding-bottom: 20px;
}
circle {
  fill: #dbe4f0;
}

path {
  /*fill: #aaa;*/
  /*stroke: #fff;*/
}
.tip { color: #999; }
.color_1{
  //fill: #E6E6FA;
  fill:#f3f3f3;
}
.color_2:hover
{
  fill:#fdd1a7;
}
.color_2{
 // fill: #663333;
 fill:#f3e7da;
}
.color_3{
  fill: #FFCC99;
}
.color_4{
  fill: #FFFACD;
  
}
.color_5{
  fill: #E6E6FA;
}



/* new css  */

/*  Text Styling  */

h1, h2, h3 {
  font-family: Georgia, "Times New Roman", serif;
}

h1 {
  font-size: 32px;
  line-height: 36px;
  color: black;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  color: #505050;
}

p {
  font-family: BentonSans, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a, a:active {
  color: #2e6e9e;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

body {
  background: #fff1e0;
}

