/* 
    Document   : template
    Created on : Jan 6, 2014, 11:08:16 AM
    Author     : Maninder
    Description:
        Purpose of the stylesheet follows.
*/
body {
    margin:0px;
    // background: #000000;
    font-family:"Times New Roman", Times, serif;
}
.container{
   //width: 1100px;
    min-width: 1100px;
    // background: #FEF1DE;
    background: #FEF6EB;
    //background:#ffffff;
    overflow-x:auto; 
    
    position:relative;
    left:-200px;
}
.world-map-wrapper svg
{
    // background:#ffffff;
    //position: relative;
    //right: 10%;
}
svg circle
{
    background:#ffffff !important;
    fill:#ffffff !important;
}
.detail-content{
    // margin: 100px 0 100px 60px;
    //  border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    width: 340px;
    // padding-left: 30px;
    float:left;
    background: #FEF1DE;
    //padding-left: 5px;
    
    position: relative;
    left:-350px;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.ui-dialog-titlebar
{
 display: none;   
}
.ui-widget-content
{
    background:none !important;
    z-index: 100000000000 !important;
}
.container_Right{
    //width: 765px;
    width: 70%;
   
    float:left;
    padding-top:30px; 
    display: none;
    
   // position:relative;
   // bottom: -150px;
}

.container_Right_map{
    //width: 765px;
     min-width: 760px !important;
    // overflow-x: scroll;
    //width: 66%;
    float:left;
    padding-top:30px; 
}
.time_label
{
    color:black !important;
}
#amount
{
    color:#3A87AD;
    font-weight: bold;
}
#slider
{
     padding-left: 50px !important;
    width: 85% !important;
    padding-right: 22px !important;
}
.ui-slider .ui-slider-handle{
    height:10px !important;
}
.ui-slider-handle{
    background:#e97174 !important;
    width:70px !important;
    margin-top:-2px !important;
}
.world-map-wrapper{
    /*margin-top: 80px;*/
    width: 100%;
    height:520px;
    //float: left;
}

#lineChart{
    width: 100%;
}
.financial_time_heading{
    height:20px;
    background: #E1E1BD;
    border-top: 2px solid #A4A48A;
    font-size: 8px;
    padding:2px 0 2px 15px;
    margin-bottom:10px;
    background: #f6e9d8;
    border-bottom: dotted 1px #DACDBA;
}

.row-fluid
{
    display:block;
    margin-top: -65px;
}
.financial_time_heading .h3 {
    background: #e9decf;
    padding: 10px;
    text-transform: uppercase;
    color: #434343;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    font-style: normal;
    font-family: BentonSans, Helvetica, Arial, sans-serif;
}
strong.text-upper-case{
    text-transform: uppercase;
    color: #386890;
    font-size: 12px;
}
.mypiechart{
    display: block;
    margin-top: -30px;
}
p.title{
    font-size: 26px; 
}
span.label{
   // padding: 10px 18px;
   padding:20px 20px 10px 10px;
    //margin-right: 5px;
    margin: 6px 9px;
    //background-color:#E1E1BD; 
    opacity: 0.28;
    //new css
    // border-radius: 3px;
    font-family: BentonSans, Helvetica, Arial, sans-serif;
    font-size: 12px;
    // border: 1px solid #2e6e9e;
    //background: #2e6e9e;
    text-align: center;
    color: white;
    //text-align: center;
  //margin: 5px auto;
  height: 30px;
  //display:table-cell;
  //vertical-align:middle;
  //float: left;
  

}
span.label-info
{
    opacity: 1 !important;
}
span.label:hover{
    cursor: pointer;
}
p
{
    padding-left:22px;
    margin-bottom: 8px !important;
}
p span
{
    display: block;
    // height : 22px;
}
/*
================================================================================
----------------------------  CSS FOR WORLD TOUR GRAPH -------------------------
================================================================================
*/

/*h1 {
  position: absolute;
  top: 280px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  width: 960px;
}*/
.padding-top-bottom-40{
    margin: 40px 0;
    border: 0px solid;
}
.margin-left-40{
    margin-left: 40px;
}

.continent_p{
    padding-left:10px;
}

p.subtitle{
    font-size: 14px;
    width:283px;
}

.states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

/*
================================================================================
--------------------    CSS FOR EUROPE MAP  ------------------------------------
================================================================================
*/
/*body {
  background: #fcfcfa;
}*/

.stroke {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
}

.fill {
    fill: #fff;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5
}

.land {
    fill: #222;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}


/*
================================================================================
--------------------    CSS FOR PAGE STYLE  ------------------------------------
================================================================================
*/

.subunit.SCT { fill: #ddc; }
.subunit.WLS { fill: #cdd; }
.subunit.NIR { fill: #cdc; }
.subunit.ENG { fill: #dcd; }
.subunit.IRL { display: none; }
// h3{margin-top: 200px;}

svg {
    /*                width:  960px;
                    height: 800px;*/
    width: 750px;
    padding-left:10px;
    pointer-events: all;
    padding-bottom: 20px;
}
circle {
    fill: #dbe4f0;
}

path {
    /*fill: #aaa;*/
    /*stroke: #fff;*/
}
.tip { color: #999; }
.color_1{
    //fill: #E6E6FA;
    fill:#f3f3f3;
}
.color_2:hover
{
    fill:#fdd1a7;
}
.color_2{
    // fill: #663333;
    fill:#f3e7da;
    border:1px solid #F3E6D6;
}
.color_3{
    fill: #FFCC99;
}
.color_4{
    fill: #FFFACD;

}
.color_5{
    fill: #E6E6FA;
}



/* new css  */

/*  Text Styling  */

h1, h2, h3 {
    font-family: Georgia, "Times New Roman", serif;
}

h1 {
    font-size: 32px;
    line-height: 36px;
    color: black;
}

h2 {
    font-size: 21px;
    line-height: 26px;
    color: #505050;
}

p {
    font-family: BentonSans, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

a, a:active {
    color: #2e6e9e;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

body {
    // background: #fff1e0;
    background: #FEF6EB;
}



//


#lineChart .x_label .right
{
    display: none !important;
}

#lineChart svg
{
    background-color: #FFFAF7;
}
hr
{
    border-style: dotted !important;
    border-color: #DACDBA !important;
    border-top:none !important;
    margin-left:23px;
    width: 84%;
}
// player related CSS
.audio-player h2
{
   // text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7) !important;
}
.audio_time
{
    //text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3) !important;
}
.audio_spec
{
    
}
.audio_detail
{
    
}
//

